{% extends 'base.html.twig' %}

{% block title %}🏂 Snow Tricks - Accueil
{% endblock %}

{% block body %}
            <!-- Hero -->
            <section class="section-with-background">
                <div class="container-fluid p-0">
                    <div class="position-relative">
                        <!-- Titre superposé -->
                        <h1 class="fw-bolder mb-1 position-absolute top-50 start-50 translate-middle" style="color: #fff; transform: translate(-50%, -50%); z-index: 1;">Bienvenue sur Snow Tricks! 🏂</h1>
                    </div>
                </div>
                <div class="arrow-button position-absolute m-3">
                            <a class="btn btn-link" href="#tricks"><i class="bi bi-arrow-down-circle-fill"></i></a><!-- Bouton de fléche -->
                </div>
            </section>
            <!-- Blog preview section-->
            <section id="tricks" class="mx-auto px-5 bg-dark py-5">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 gx-5">
                    {% for i in 1..15 %}
                        <div class="col mb-5">
                            <div class="card h-60 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                                <div class="card-body p-4">
                                    <!-- Titre de la carte -->
                                    <div class="d-flex justify-content-between align-items-top">
                                        <div class="figure-card-title">
                                            <a class="text-decoration-none link-dark" href="{{ path('detailed.tricks') }}"><h5 class="card-title mb-3">Post title</h5></a>
                                        </div>
                                        <!-- Boutons avec icônes (stylo et poubelle) -->
                                        <div class="d-flex justify-content-end align-items-center">
                                            <a class="btn btn-link" href="{{ path('edit.tricks')  }}"><i class="bi bi-pencil-fill me-2"></i></a><!-- Bouton de stylo -->
                                            <a class="btn btn-link" href="#"><i class="bi bi-trash-fill"></i></a><!-- Bouton de poubelle -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row gx-5">
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-center">
                                <a class="btn btn-secondary btn-lg px-4 me-sm-3" href="#features">Voir plus</a>
                    </div>
                </div>
            </section>
        </main>
{% endblock %}




