{# templates/tricks/createTricks.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}🏂 Snow Tricks - Création de Tricks{% endblock %}

{% block body %}
<section class="py-5 mt-4" style="height: 80vh;">
    <div class="container px-5 h-100">
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5 h-100">
            <div class="text-center mb-5 mt-4">
                <h1 class="fw-bolder">Création de Tricks</h1>
            </div>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning mt-4">
                    {{ message }}
                </div>
            {% endfor %}
            
          
            {{ form_widget(form.tricksImage) }}
          

        </div>
    </div>
</section>
{% endblock %}
